@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Lato&family=Roboto&display=swap');
body {
   font-family: 'Klee One', cursive;
}

fieldset {
  border: none;
  margin: 1rem 0;
}

header {
  /* For more about flexbox, see https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  height: 64px;
  margin-right: 1em;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.user-and-events {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}

.user-management, .event-management, .search-management {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid grey;
}

.user-management > h2, h3 {
  text-align: center;
}

.event-management > h2, h3 {
  text-align: center;
}

.user-management input[type="submit"], .event-management input[type="submit"], .search-management button, .fav-events button {
  display: block;
  margin: 0 auto;
}

.user-body, .event-body, .finder-body {
  display: flex;
  justify-content: space-between;
}

.user-list, .event-list, .search-result {
  margin-right: 50px;
}

.user-form, .event-form, .search-form {
  margin-left: 50px;
}
button {
  cursor: pointer;
}

footer {
  text-align: center;
  margin-top: 1rem;
  font-size: small;
  color: gray;
}